
.content {
  margin-left: auto;
  margin-right: auto;
  width: 750px;
  background-color: #fff;
  font-size: 12px;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}

.content h1 {font-size: 24px;}

.content h3 {
  font-size: 16px;
  line-height: 100%;
}
.content h4 {
  font-weight: bold;
  font-size: 14px;
}

.center {
  text-align: center;
}

.dataframe {
  border: 0px;
  border-collapse: collapse;
  font-size: 12px;
}

.dataframe tr, th, td {
  padding: 2px 5px;
  border-width: 0px;
}

.dataframe thead th {
  border-width: 1px 0px;
  text-align: center;
}

.dataframe td {
  border: 0px;
  text-align: right;
}

.content pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  word-break: normal;
}

.sections_table td {
  text-align: left;
  padding-left: 5px;
}

.sections_table thead th {
  text-align: left;
}

.sections_table table {
  font-size: 12px;
  width: 100%;
}

.break { 
  page-break-before: always;
}

/* Styles for horizontal bar graphs */

.hbaraxis text {
font: 11px;
fill: #999;
}

.y.hbaraxis text {
font: 11px;
fill: #000;
}

.hbar text {
    font: 11px;
    fill: #000;
}

.hbar rect {
    fill: #FFbb66;
}

.y.hbaraxis path {
  display: none;
}

.x.hbaraxis path,
.x.hbaraxis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}

/* Styles for diverging bar graphs */

.dbaraxis path,
.dbaraxis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}

.x.dbaraxis text {
  font: 11px;
  fill: #999;
}

.y.dbaraxis path {
  display: none;
}

.truezero line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.y.dbaraxis .tick line {
  display: none;
}

/* Tooltip styles */
.d3-tip {
  line-height: 1;
  padding: 5px;
  background: #ccc;
  color: #222;
  border-radius: 2;
  font-weight: normal;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  font-size: 11px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:before {
  box-sizing: border-box;
  display: inline;
  width: 10%;
  margin: 0 0 0 -17px;
  font-size: 15px;
  line-height: 1;
  color: #ccc;
  content: "\25C0";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

